body {
  background-color: pink;
  color: purple;
  font-size: 40px;
  font-family: arial, sans-serif;
  letter-spacing: 20px;
}

h1 {
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 82px;
  background: brown;
  font-family: 'Zhi Mang Xing', cursive;
}

#mike {
  color: yellow;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

.jane {
  background: #00ffa1;
  color: green;
  width: 500px;
  padding: 50px;
  border: 10px dashed green;
  float: right;
}

.bob {
  background: red;
  color: white;
  clear: both;
}
