body {
  background-color: pink;
  color: purple;
  font-size: 40px;
  font-family: arial, sans-serif;
  letter-spacing: 20px;
}

h1 {
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
  background: brown;
}

.jane {
  background: orange;
  color: green;
  width: 500px;
  padding: 30px;
  border: 10px dashed green;
}




.bob {
  background: red;
  color: white;
}
